<section id="form">

    <h2>Cadastro de Corrida</h2>

    <form id="form-corrida" (ngSubmit)="salvar()">

        <label for="nome">Nome da Corrida</label>

        <input
            type="text"
            name="nome"
            id="nome"
            [(ngModel)]="nome"
            maxlength="100"
            required
            placeholder="Digite o nome da corrida">


        <label for="data">Data</label>

        <input
            type="date"
            name="data"
            id="data"
            [(ngModel)]="data"
            required>


        <label for="local">Local</label>

        <input
            type="text"
            name="local"
            id="local"
            [(ngModel)]="local"
            maxlength="100"
            required
            placeholder="Digite o local da corrida">


        <label for="distancia">Distância (km)</label>

        <input
            type="number"
            name="distancia"
            id="distancia"
            [(ngModel)]="distancia"
            min="1"
            required
            placeholder="Ex: 5">


        <label for="horario">Horário</label>

        <input
            type="time"
            name="horario"
            id="horario"
            [(ngModel)]="horario"
            required>


        <div id="div-btns">

            <button
                type="submit"
                id="btnAdd">
                Cadastrar
            </button>

            <button
                type="reset"
                id="btnLimpar"
                (click)="limparDados()">
                Limpar
            </button>

        </div>

    </form>

</section>