<section id="lista-corridas">

    <h1>CORRIDAS CADASTRADAS</h1>

    <p>
        Total de corridas: {{ corridas.length }}
    </p>

    @for (corrida of corridas; track corrida.id) {

        <div class="corrida">

            <h2>
                NOME: {{ corrida.descricao_corrida }}
            </h2>

            <p>
                <strong>Data:</strong>
                {{ corrida.data_corrida }}
            </p>

            <p>
                <strong>Distância:</strong>

                @if (corrida.distancia5km) {
                    5 km
                }

                @if (corrida.distancia10km) {
                    10 km
                }

                @if (corrida.distancia25km) {
                    25 km
                }

            </p>

            <div class="botoes">

                <button
                    type="button"
                    (click)="editar(corrida)">
                    Editar
                </button>

                <button
                    type="button"
                    (click)="excluir(corrida)">
                    Excluir
                </button>

            </div>

            <hr>

        </div>

    }

</section>