<header id="cabecalho">

  <div id="logo">
    Esporte ArLivre
  </div>

  <nav id="menu">

    <ul id="ul-menu">

      <li>
        <a routerLink="/" class="lnk-menu">
          Home
        </a>
      </li>

      <li>
        <a routerLink="/atleta" class="lnk-menu">
          Cadastro Atleta
        </a>
      </li>

      <li>
        <a routerLink="/atletas" class="lnk-menu">
          Atletas
        </a>
      </li>

      <li>
        <a routerLink="/cadastro-corridas" class="lnk-menu">
          Cadastro Corridas
        </a>
      </li>

      <li>
        <a routerLink="/corridas" class="lnk-menu">
          Corridas
        </a>
      </li>

      <li>
        <a routerLink="/cadastro-inscricoes" class="lnk-menu">
          Inscrições
        </a>
      </li>

    </ul>

  </nav>

</header>