<section id="lista-atletas">

  <h1>ATLETAS CADASTRADOS</h1>

  <p>Total de atletas: {{ atletas.length }}</p>

  
@for (atleta of atletas; track atleta.id) {

      <div class="atleta">

          <h2>{{ atleta.nome }}</h2>

          <p><strong>CPF:</strong> {{ atleta.cpf }}</p>

          <p><strong>Sexo:</strong> {{ atleta.sexo }}</p>

          <p><strong>CEP:</strong> {{ atleta.cep }}</p>

          <p><strong>Rua:</strong> {{ atleta.ruaLogradouro }}</p>

          <p><strong>Bairro:</strong> {{ atleta.bairro }}</p>

          <p><strong>Cidade:</strong> {{ atleta.cidade }}</p>

          <p><strong>UF:</strong> {{ atleta.uf }}</p>

          <button type="button" (click)="excluir(atleta.id)">
            Excluir
        </button>

        <button type="button" (click)="editar(atleta.id)">
            Editar
        </button>

          <hr>

      </div>

  }


</section>